---
extends: default
rules:
  indentation:
    check-multi-line-strings: true
  line-length:
    max: 79
  quoted-strings:
    quote-type: double
    required: only-when-needed
    extra-allowed:
      - ^[0-9]+:[0-9]+$
      - ^-
